<ng-container *ngIf="questions">
    <p>{{questions.id}}.{{questions.question}}</p>
    <form #answer="ngForm">
        <ol type="a">
            <ng-container *ngFor="let option of questions.options; let i = index">
                <input class="form-check-input" type="radio" (change)="getAnswer($event,questions.id)" #answerr
                    value={{i}} name="anserrr" [checked]="testAnswers[questions.id] == answerr.value">
                <span style="display: inline-flex; margin-left: 20px;">
                    <li>
                        {{option}}
                    </li>
                </span> <br>
            </ng-container>
        </ol>
    </form>
</ng-container>