<!-- <app-quizpage [test]="test"  (AllAnswers)="getAllAns($event)" ></app-quizpage> -->
<!-- <p>resultpage works!</p> -->
<!-- {{count}} -->
<!-- <div *ngFor="let x of data">
    answers:{{x.answer}}
</div> -->
 
<div class="card">
  <h1>Thank you {{username}} for taking Test</h1>
  <div class="row">
    <div class="col-6">
      <img src="assets/prize.jpg" alt="win cup image" width="400px" height="300px">
    </div>
    <div class="col-6 text-center">
      <i style="font-size: 30px;">You result is</i>  <h1>{{count}}/{{length}}</h1>
    </div>
  </div>
</div>