.card-body{
    width: auto;
    padding: 1%;
    height: auto;
    margin: 5%;
    overflow: hidden;
}
.form-group{
    padding: 5%;
}
label{
    padding: 2%;
}
.next{
    margin-left: 40%;
    margin-bottom: 2%;
}
.previous{
    margin-left: 20%;
    margin-bottom: 2%;
}
.paper-header{
    background-color: blueviolet;
    padding: 2%;
  
}
body{
    overflow: hidden;

} 
.time{
    color: purple;
    padding: 10px;
    position: fixed;
    right: 40px;
    border: 1px solid purple;
    width: 300px;
}
.submit{
    position: absolute;
    bottom: 50%; 
    margin-left: 40%;}
.score{
    position: absolute;
    bottom: 40%; 
    margin-left: 45%;
}