<main class="form-signin text-center">
    <form style="margin-top: 200px;">
      <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" alt="" width="100" height="80">
          <div class="form-floating">
        <input type="text" class="form-control" ngModel #username='ngModel'  name="username" id="username"  value="">
        <label for="floatingInput">Enter UserName</label>
        </div>
       <br><br>
        <button class="w-100 btn btn-lg btn-primary" [disabled]="!username.value" [routerLink]="['/examquest/',username.value]" type="submit">Take Test</button>
    </form>
  </main>